body {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
}

tr {
    cursor: pointer;
}

h4 {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}

.card:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.card:active {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
